<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body class="container">
    <%- include('partials/navbar.ejs') %>

    <% if(tutors.length){ %>
        <% tutors.forEach(function(tutor) { %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <%= tutor.name %>
                    <div class="pull-right">
                        <%= tutor.date %>
                    </div>
                </div>
                <div class="panel-body">
                    <%= tutor.description %>
                </div>
            </div>
        <% }); } %>   
</body>
</html>