<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body class="container">
    <%- include('partials/navbar.ejs') %>
    <h1><%= title %></h1>

    <div class=" col-xs-8 col-xs-offset-2">
        <h2 class="text-center">
          <% if(id === null){ %>
          Add a new tutor
          <% } else { %>
          Modify information
          <% } %>
        </h2>

        <form method="post" 
        <% if(id === null){ %>
          action="/teacher-form/create"
        <% }else{ %>
          action="/teacher-form/<%= id %>/edit?_method=PUT"
        <% } %>
        >
          <div class="form-group">
            <label for="name">Name:</label>
            <textarea type="text"
             name="name" 
             id="tutor-name" 
             class="form-control" 
             placeholder="Enter a new tutor"><%= name %></textarea>
          </div>

          <div class="form-group" >
            <label for="body">Description:</label>
            <textarea 
             class="form-control" 
             id="tutor-description"
             name="description" 
             rows="3" 
             placeholder="I am an English teacher with N years experiences..." 
             required><%= description %></textarea>
          </div>
          <input type="file" name= "avatar" accept="image/*" />
          <div class="form-group" style="margin-top: 5px;">
            <input type="submit" onclick="displayUserInfo()" value=
            <% if(id === null){ %>
              "Create"
            <% } else {%>
               "Update"
            <% } %>
            class="btn btn-primary ">
          </div>
    </form>
</body>
</html>