<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<body class="container my-4">
    <%- include('partials/header.ejs') %>

    <% if(users.length){ %>
        <div class="row">
            <% users.forEach(function(element) { %>
                <% if (user.userType !== element.userType) { %>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-header bg-success text-white">
                                <%= element.name %> <%= element.lastName %>
                            </div>
                            <img src="<%= element.imagePath %>" class="card-img-top" alt="Profile image" style="object-fit: cover; height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title"><%= element.email %></h5>
                                <p class="card-text text-danger"><%= element.userType %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
    <% } %>

</body>
</html>
