<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
<body>

    <div class="login-container">

        <h2>Welcome to YourLanguages</h2>

        <form method="post" action="/register-form/create" enctype="multipart/form-data" class="login-form">
            <!-- First Name -->
            <div class="form-group">
                <label for="FirstName">First Name:</label>
                <input type="text" name="name" placeholder="First Name" 
                autofocus value="<%= locals.old && old.name %>" required>
            </div>
            <% if (locals.errors && errors.name) { %> 
                <p class="feedback"><%= errors.name.msg %></p> 
            <% } %>

            <!-- Last Name -->
            <div class="form-group">
                <label for="LastName">Last Name:</label>
                <input type="text" name="lastName" placeholder="Last Name" 
                value="<%= locals.old && old.lastName %>" required>
            </div>
            <% if (locals.errors && errors.lastName) { %> 
                <p class="feedback"><%= errors.lastName.msg %></p> 
            <% } %>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Your Email:</label>
                <input type="text" name="email" placeholder="email@example.com"
                 value="<%= locals.old && old.email %>" required>
            </div>
            <% if (locals.errors && errors.email) { %> 
                <p class="feedback"><%= errors.email.msg %></p> 
            <% } %>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" 
                placeholder="Your Password" required>
            </div>
            <% if (locals.errors && errors.password) { %> 
                <p class="feedback"><%= errors.password.msg %></p> 
            <% } %>

            <!-- File Upload -->
            <div class="form-group">
                <label for="avatar">Profile Picture:</label>
                <input type="file" name="avatar" class="form-control-file"/>
            </div>

            <!-- Gender Selection -->
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select name="gender" class="form-control">
                    <option value="0">Don't want to say</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Non-binary</option>
                </select>
            </div>

            <!-- Account Type Selection -->
            <div class="form-group">
                <label for="userType">Account Type:</label>
                <select name="userType" id="userType" class="form-control">
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
            </div>

            <!-- Language Selection -->
            <div class="form-group">
                <label for="language" id="languageLabel"></label>
                <select name="language" class="form-control">
                    <option selected>English</option>
                    <option value="1">Spanish</option>
                    <option value="2">France</option>
                    <option value="3">Chinese</option>
                    <option value="4">Catalan</option>
                    <option value="5">Japanese</option>
                    <option value="6">German</option>
                    <option value="7">Russian</option>
                    <option value="8">Italian</option>
                    <option value="9">Arabic</option>
                    <option value="10">Korean</option>
                    <option value="11">Portuguese</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="4" placeholder="I'm an English teacher with N years of experience..." required></textarea>
            </div>
            <!-- Remember Me Checkbox -->
            <div class="form-group remember">
                <input type="checkbox" id="remember" name="remember" value="1" />
                <label for="remember">Remember me</label>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
            <!-- Login Redirect -->
            <p class="alternate-link">Already have an account? <a href="/login-form">Login</a></p>

        </form>

    </div>
    <script src="/js/dynamicLanguageLabel.js"></script>

</body>
</html>
